<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sortedcollegelife">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Location"></activity>
        <activity
            android:name=".studentmainNavigation"
            android:label="@string/title_activity_studentmain_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Quesdecesion" />
        <activity android:name=".Solutionlist" />
        <activity android:name=".Quora" />
        <activity android:name=".SolveQues" />
        <activity android:name=".QuesAsk" />
        <activity android:name=".alarm" />
        <activity android:name=".showTimeTable" />
        <activity android:name=".timetable_main" />
        <activity android:name=".timetable" />
        <activity android:name=".MainChat" />
        <activity android:name=".ChatList" />
        <activity android:name=".otpverify" />
        <activity android:name=".studentmain" />
        <activity android:name=".teacherlogin" />
        <activity android:name=".studentlogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>